<!DOCTYPE html>
<html lang="pt">

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>

    <main class="jumbotron">
        <div>
            <h1>node com EJS</h1>
            <p>trabalhando com arquivos EJS</p>
            <p> <%= subtitle %> </p>
        </div>

        <ul>
            <% qualitys.forEach(quality => { %>
                <li>
                    <strong><%= quality.title %></strong> <%= quality.message %>
                </li>
            <% }); %> 
            
        </ul>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>